@page
@model Task1.Web.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products list";
}

@section Styles {
    <link href="~/assets/plugins/datatables/datatables.bundle.css" rel="stylesheet" />
}

<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Products list</h2>
        <a asp-page="./Create" class="btn btn-primary">+ Add new product</a>
    </div>

    <div class="card-body">
        @if (!Model.Products.Any())
        {
            <div class="alert alert-dismissible bg-light-warning border border-warning border-dashed d-flex flex-column flex-sm-row w-100 p-5 mb-10">
                <!--begin::Icon-->
                <!--begin::Svg Icon | path: icons/duotune/communication/com003.svg-->
                <span class="svg-icon svg-icon-2hx svg-icon-warning me-4 mb-5 mb-sm-0">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
                        <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor" />
                        <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <!--end::Icon-->
                <!--begin::Content-->
                <div class="d-flex flex-column pe-0 pe-sm-10 align-self-center">
                    <h5 class="mb-1">No products found!</h5>
                </div>
                <!--end::Content-->
            </div>
        }

        else
        {
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 gy-7">
                    <thead>
                        <tr>
                        <tr>
                            <th class="fw-bold">Name</th>
                            <th class="fw-bold">Description</th>
                            <th class="fw-bold">Is Active</th>
                            <th class="fw-bold justify-content-center">Actions</th>
                        </tr>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@product.Name</td>
                                <td>@product.Description</td>
                                <td>
                                    <span class="badge badge-light-@(product.IsActive ? "success" : "warning") me-auto">
                                        @(product.IsActive ? "Acitve" : "Not active")
                                    </span>
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a> |
                                    <a asp-page="./Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a> |
                                    <a asp-page="./Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@section Plugins {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                "pageLength": 5, // Default number of rows per page
                "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]] // Options in the dropdown
            });
        });
    </script>
}

